::-webkit-scrollbar {
  width: .5rem;
  height: 1rem;
}

::-webkit-scrollbar-track-piece {
  background: #c2c0c2;
}

::-webkit-scrollbar-thumb {
  background: #26a69a;
}

html,
body {
  font-size: 16px;
  height: 100%;
}

.h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  color: #ee6e73;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  background: #ee6e73;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: white;
  font-size: 1.75rem;
  padding: .75rem 0;
}

h3 {
  background: #ee6e73;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: white;
  font-size: 1.5rem;
  padding: .5rem 0;
}

h4 {
  background: rgb(56, 144, 200);
  color: white;
  font-size: 1.25rem;
  padding: .25rem 0;
}

.center-content {
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav .collapsible-body svg, nav .dropdown-content svg {
  margin-right: 1rem !important;
}

.accent-bottom {
  border-bottom: 1rem solid #c2c0c2;
}

.accent-text {
  color: #ee6e73;
}

.concise-table td {
  padding: 0.4rem;
}

.container > * {
  width: 100%;
}

.container-breakout {
  background: white;
  position: absolute;
  left: 0;
}

.font-weight-600 {
  font-weight: 600;
}

.font-mono {
  font-family: 'Fira Code', monospace;
}

ol.padded2, ul.padded2 {
  list-style-type: none;
}

.padded2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.pagination.panel {
  border-radius: 1rem;
  min-width: 0;
  padding: .25rem 1rem;
}

.panel {
  background-color: #fff;
  border-radius: 2px;
  margin: .75rem 0;
  min-Width: 600px;
}

.panel > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.reset {
  background: none;
  border: 0;
  box-shadow: none;
  color: inherit;
  font: inherit;
  height: inherit;
  line-height: 1rem;
  padding: 0;
  margin: 0;
  outline: none;
}

.reset * {
  color: inherit;
}

.reset:focus {
  background: none;
}

.row, .margin-bottom-0 {
  margin-bottom: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.nowrap {
  overflow: auto;
  white-space: nowrap;
}

.width100 {
  width: 100%;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapssible,
.panel,
.sidenav {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3),
              0 3px 1px -2px rgba(0, 0, 0, 0.3),
              0 1px 5px 0 rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .h1 {
    font-size: 3rem;
    padding-bottom: .25rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1600px) {
  .h1 {
    font-size: 4rem;
    padding-bottom: .5rem;
  }  
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1601px) {
  .h1 {
    font-size: 5rem;
    padding-bottom: .5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .panel {
    min-Width: 100%;
  }
  .row > .col {
    padding: 0;
  }
}