.clouds {
  background: linear-gradient(rgb(56, 144, 200) 25%, white 100%);
  position: fixed;
  width: 100%;
  z-index: -1;
  height: 200px;
  overflow: hidden;
  > img {
    bottom: 0;
    position: absolute;
    user-select: none;
    width: 100%;
  }
  > img:nth-child(1) {
    animation: clouds 16s linear infinite;
  }
  > img:nth-child(2) {
    animation: clouds 16s linear -8s infinite;
  }
  > img:nth-child(3) {
    animation: clouds 20s linear infinite;
  }
  > img:nth-child(4) {
    animation: clouds 20s linear -10s infinite;
  }
}

@keyframes clouds {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .clouds {
    height: 350px;
    > img:nth-child(1) {
      animation: clouds 24s linear infinite;
    }
    > img:nth-child(2) {
      animation: clouds 24s linear -12s infinite;
    }
    > img:nth-child(3) {
      animation: clouds 30s linear infinite;
    }
    > img:nth-child(4) {
      animation: clouds 30s linear -15s infinite;
    }
    > img:nth-child(5) {
      animation: clouds 36s linear infinite;
    }
  }
}

@media only screen and (min-width: 993px) and (max-width: 1600px) {
  .clouds {
    height: 500px;
    > img:nth-child(1) {
      animation: clouds 32s linear infinite;
    }
    > img:nth-child(2) {
      animation: clouds 32s linear -16s infinite;
    }
    > img:nth-child(3) {
      animation: clouds 40s linear infinite;
    }
    > img:nth-child(4) {
      animation: clouds 40s linear -20s infinite;
    }
    > img:nth-child(5) {
      animation: clouds 48s linear infinite;
    }
  }
}

@media only screen and (min-width: 1601px) {
  .clouds {
    height: 650px;
    > img:nth-child(1) {
      animation: clouds 40s linear infinite;
    }
    > img:nth-child(2) {
      animation: clouds 40s linear -20s infinite;
    }
    > img:nth-child(3) {
      animation: clouds 50s linear infinite;
    }
    > img:nth-child(4) {
      animation: clouds 50s linear -25s infinite;
    }
    > img:nth-child(5) {
      animation: clouds 60s linear infinite;
    }
  }
}