#sidenav {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar-track-piece {
    display: none;
  }
  > .clouds {
    max-height: 200px;
  }
  > ul {
    background: linear-gradient(
      transparent 150px,
      rgb(255, 255, 255) 200px,
      rgb(200, 240, 255) 265px,
      rgb(255, 224, 160)
    );
    flex: auto;
    position: relative;
    padding-top: 150px;
    > li:nth-child(1) > a {
      font-size: 2rem;
    }
    > li:nth-child(2) {
      height: 48px;
      i {
        color: rgb(56, 144, 200);
        right: .5rem;
        top: .25rem;
      }
      input {
        border-bottom: 1px solid rgb(56, 144, 200);
        box-shadow: none !important;
        height: 2rem;
        margin-left: 1rem;
        padding-left: 1rem;
        padding-top: 1rem;
      }
      label {
        color: rgb(56, 144, 200);
        margin-left: 2rem;
      }
    }
    > li:not(:nth-child(1)) {
      color: rgb(56, 144, 200);
    }
    svg {
      width: 1rem;
    }
    .collapsible {
      user-select: none;
    }
    .collapsible-header {
      font-size: 1.5rem;
      font-weight: bold;
      display: block;
      padding: 0 32px;
      text-align: left;
      width: 100%;
    }
    .collapsible-header > svg {
      float: right;
      margin-top: .75rem;
    }
    .collapsible-body > li > a {
      color: #26a69a;
      font-size: 1rem;
      line-height: 1.5rem;
      padding: .75rem 2rem;
    }
    > .social-links {
      bottom: -120px;
      display: flex;
      justify-content: space-between;
      height: 40px;
      padding: 0 1rem;
      position: absolute;
      width: 100%;
      > a {
        color: white;
        padding: 0 1rem;
        > svg {
          margin-top: .25rem;
          height: 40px;
          width: 40px;
        }
      }
    }
  }
  > .waves {
    min-height: 128px;
    height: 128px !important;
    width: 200%;
  }
}