.sitemap {
  max-width: 600px;
  ul {
    margin: 0;
    padding: 0;
    a {
      display: block;
      font-size: 1.5rem;
      line-height: 1.5rem;
      padding: 1rem;
      > svg {
        margin-right: 1rem;
      }
    }
    a:hover {
      background: rgba(0, 0, 0, .1);
    }
  }
}