#DesktopNav {
  background: rgb(56, 144, 200);
  box-shadow: 0 -2px 2px 4px rgba(0, 0, 0, 0.3),
              0 -2px 1px 3px rgba(0, 0, 0, 0.3),
              0 -2px 5px 5px rgba(0, 0, 0, 0.4);
  height: 3rem;
  line-height: 3rem;
  position: relative;
  &:before, &:after {
    content: '';
    background: rgb(56, 144, 200);
    display: block;
    position: absolute;
    height: 3rem;
    width: 1rem;
  }
  &:before {
    border-bottom-left-radius: 100%;
    box-shadow: -3px 0 2px rgba(0, 0, 0, 0.3),
                -2px 3px 1px -2px rgba(0, 0, 0, 0.3),
                -2px 1px 5px -2px rgba(0, 0, 0, 0.4);
    left: -.95rem;
  }
  &:after {
    border-bottom-right-radius: 100%;
    box-shadow: 3px 0 2px rgba(0, 0, 0, 0.3),
                2px 3px 1px -2px rgba(0, 0, 0, 0.3),
                2px 1px 5px -2px rgba(0, 0, 0, 0.4);
    right: -.95rem;
  }
  a {
    font-size: 1.25;
    height: 3rem;
    outline: 0;
    white-space: nowrap;
  }
  > ul {
    > li:nth-child(2) {
      height: 48px;
      margin: 0 .75rem;
      i {
        color: white;
        right: 0;
        top: -.25rem;
        transform: scale(.66);
        width: 24px;
      }
      input {
        border-bottom: 1px solid white;
        color: white;
        height: 2rem;
        margin: 0;
        width: 200px;
      }
      label {
        color: white;
        margin: 0;
        top: -.66rem;
        &.active {
          top: 0;
        }
      }
      ul {
        min-width: 200px;
        width: auto !important;
        white-space: nowrap;
      }
    }
    li > a > svg {
      transform: scale(1.5);
    }
  }
}